[Desktop Entry]
Name=Arctic Night
X-KDE-PluginInfo-Author=Alexey Varfolomeev, psyGamer
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Arctic-Night
X-KDE-PluginInfo-Version=1.0
